* {
  box-sizing: border-box;
  background-color: rgb(255, 209, 229);
  font-family: "ClayBornRegular", monospace;
  color: rgb(162, 8, 75);
}

#main-container {
  margin: auto;
  text-align: center;
}

#main-container h1 {
  font-size: 64px;
  letter-spacing: 0.8rem;
  margin-top: 36px;
  margin-bottom: 24px;
  font-family: "ClayBornRegular", monospace;
  text-shadow: rgba(162, 8, 75, 0.259) 3px 4px 3px;
}

.container {
  box-sizing: content-box;
  border: 45px solid rgb(162, 8, 75);
  border-radius: 12px;
  box-shadow: 6px 8px 8px rgba(162, 8, 75, 0.501);
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  margin: auto;
  margin-top: 22px;
}

.container div {
  border: 1px solid rgba(231, 230, 230, 0.29);
  background-color: rgb(244, 243, 244);
  margin: 0px;
}

.grid-size-button,
.reset-button {
  border-style: none;
  background-color: rgba(162, 8, 75, 0.1);
  border: 5px solid rgba(162, 8, 75, 0.8);
  border-radius: 12px;
  margin: 5px;
  font-size: 26px;
  padding: 12px;
  box-shadow: 3px 5px 5px rgba(162, 8, 75, 0.301);
  cursor: pointer;
}

button:active {
  scale: 0.95;
  box-shadow: 3px 5px 5px rgba(162, 8, 75, 0.1);
}
