* {
  box-sizing: border-box;
  background-color: rgb(255, 209, 229);
  font-family: "ClayBornRegular", monospace;
  color: rgb(162, 8, 75);
}

#main-container {
  margin: auto;
  text-align: center;
}

#main-container h1 {
  font-size: 64px;
  letter-spacing: 0.8rem;
  margin-top: 36px;
  margin-bottom: 24px;
  font-family: "ClayBornRegular", monospace;
  text-shadow: rgba(162, 8, 75, 0.259) 3px 4px 3px;
}

.container {
  box-sizing: content-box;
  border: 45px solid rgb(162, 8, 75);
  border-radius: 12px;

  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  margin: auto;
  margin-top: 22px;
}

.container div {
  border: 1px solid rgb(231, 230, 230);
  background-color: rgb(244, 243, 244);
  margin: 0px;
}

.drawnPixel {
  background-color: black;
}

.grid-size-button,
.reset-button {
  border-style: none;
  background-color: rgba(162, 8, 75, 0.1);
  border: 5px solid rgba(162, 8, 75, 0.8);
  border-radius: 12px;
  margin: 5px;
  font-size: 26px;
  padding: 12px;
}

button:active {
  scale: 0.95;
}
